<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src="libs/jquery-1.8.3.min.js"></script>
	<script src="libs/json2.js"></script>
	<script src="libs/underscore-min.js"></script>
	<script src="libs/backbone-min.js"></script>
	<title>Flight Form</title>
</head>

<body>

<form method="GET" name="travelForm" id="travelForm">
<h1>Travel Form</h1>
<fieldset id="inputs">
	<label>From: </label>
	<input name="from" placeholder="From Airport" autofocus required value="ATL">   
	<br>
	<label>To: </label>
	<input name="to" placeholder="To Airport" required value="SFO">
	<br>
	<label>Departure Date: </label>
	<input name="depDate" type="date" min="2011-01-01" max = "2012-12-31" required value="2012-11-29">
	<select name="depTime">
		<option value="anytime">anytime</option>
		<option value="morning">morning</option>
		<option value="noon">noon</option>
		<option value="evening">evening</option>
		<option value="late night">late night</option>
	</select>
	
	<br>
	<label>Return Date: </label>
	<input name="retDate" type="date" min="2011-01-01" max = "2012-12-31" required value="2012-12-15">
	<select name="retTime">
		<option value="anytime">anytime</option>
		<option value="morning">morning</option>
		<option value="noon">noon</option>
		<option value="evening">evening</option>
		<option value="late night">late night</option>
	</select>
	<br>
	<label>Number of Passengers: </label>
	<input name="numPassengers" type="number" min="1" max="10" value="1" required>
</fieldset>
<fieldset id="actions">
	<!-- type="submit" in actual scenarios working with database, disabled here to avoid data loss in JS -->
	<input type="button" id="submit" value="Submit" onclick ="exampleSubmit()">
</fieldset>
</form>

<div id="flights"></div>


<script type="text/javascript">



// Model
var FlightItem = Backbone.Model.extend({});
function genFlight(form) {
	// wrapper for dict input
	return new FlightItem({
		from: 			form["from"],
		to: 			form["to"],
		depDate: 		form["depDate"],
		depTime: 		form["depTime"],
		retDate: 		form["retDate"],
		retTime: 		form["retTime"],
		numPassengers: 	form["numPassengers"]
	});
}

var FlightList = Backbone.Collection.extend({
	model: FlightItem,
	initialize: function() {
		this.on('remove', this.hideModel);
	},
	hideModel: function(model) {
		model.trigger('hide');
	}
});
var flightList = new FlightList();





// View
var FlightView = Backbone.View.extend({
	tagName: 'div',
	id: 'flight',
	template: _.template('<a href=#Read/<%=id%>><h4>Generated Flight Information:</h4>' +
		'<i>Number of passengers:</i> <%= numPassengers %><br>' +
		'<i>From:</i> <%= from %><br>' +
		'<i>To:</i> <%= to %><br>' +
		'<i>Departing:</i> <%= depDate %> <%= depTime %><br>' +
		'<i>Returning:</i> <%= retDate %> <%= retTime %></a>'),

	initialize: function() {
		this.model.on('change', this.render, this);
		this.model.on('destroy', this.remove, this);
		this.model.on('hide', this.remove, this);
	},

	render: function() {
		this.$el.html(  this.template( this.model.toJSON() )  );
	},
	
	remove: function() {
		this.$el.remove();
		console.log("Remove FlightView");
	}
});


var FlightListView = Backbone.View.extend({
	initialize: function() {
		_.bindAll(this, 'render'); // fixes loss of context for 'this' within methods
		this.counter = 0;
		this.collection.on('add', this.addOne,this);
		this.collection.on('add', this.render);
		this.collection.on('reset', this.addAll, this);
		this.collection.on('remove', this.render);
		this.documentBinding = document.getElementById('flights');
	},
	addOne: function(flightItem) {
		console.log("addOne FlightListView (LEN: "+this.collection.length+")");
		flightItem.set({id: this.counter++});
		var flightView = new FlightView({model: flightItem});
		flightView.render();
		this.$el.append(flightView.el);
		console.log(this.el);
		
	},
	addAll: function() {
		console.log("addAll FlightListView");
		this.counter = 0;
		this.collection.forEach(this.addOne,this);;
		
	},
	render: function() {
		console.log("Render FlightListView");
		console.log(this);
		this.documentBinding.innerHTML = this.el.innerHTML;
	}
});
var flightListView = new FlightListView({collection: flightList});



// Controller (nothing fancier since its a one page deal)
var FlightController = Backbone.Router.extend({
	routes: {"": "index", "Read/:id": 'read'},
	index: function() {
	},
	read: function(id) {
		console.log("READ "+id+"!");
		if (this.flightList.length == 0) {
			this.navigate("",{trigger:true});
		} else {
			console.log("Removing "+id+"!");
			this.flightList.remove(id);
		}
	},
	initialize: function(args) {
		this.flightList = args.flightList;
	}
});
var flightController = new FlightController({flightList: flightList});

Backbone.history.start();


// Helpers
function exampleSubmit() {

	var form = document.forms[0];

	var flight = new FlightItem({
		from: 			form["from"].value,
		to: 			form["to"].value,
		depDate: 		form["depDate"].value,
		depTime: 		form["depTime"].value,
		retDate: 		form["retDate"].value,
		retTime: 		form["retTime"].value,
		numPassengers: 	form["numPassengers"].value
	});

	flightList.add(flight);

	// document.getElementById('flights').innerHTML = flightListView.el.innerHTML;
	
}
// Some regex kungfu off of StackOverflow to parse url params as dict
function getUrlParameters() {
	var map = {};
	window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) { map[key] = value; });
	return map; 
}


// var testFlightItem = new FlightItem({
// 	from: "Atlanta",
// 	to: "San Francisco",
// 	depDate: "2011-11-10",
// 	depTime: "noon",
// 	retDate: "2012-12-31",
// 	retTime: "late night",
// 	numPassengers: 3
// });
// flightList.add(testFlightItem);

</script>

</body>

</html>