#info {
	width:400px;
	margin-left:auto;
	margin-right:auto;
	vertical-align: top;
}
#travelForm, #flights {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	padding: 50px;
	text-align: left;
	width:400px;
}
#flights{
	padding: 20px;
	box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#flight {
	display: block;
	padding: 10px;
	background-color: #eef;
	padding: 0px;
	margin: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#flight a {
	text-decoration: none;
	display: block;
	margin: 0px;
	padding: 10px;
}

#flight:hover {
	background-color: #fee;
}


#flight h4 {
	margin: 0px;
	color: #00a;
}

#flight i {
	color: #00a;
}

/*Extra style stuff */
div {
	padding: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
    background: #efefef;
	-moz-box-shadow:    1px 1px 2px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px 2px #ccc;
	box-shadow:         1px 1px 2px 1px #ccc;
}
object {
    padding: 5px;
}

hr {
	width: 75%;
	background-color: #ddd;
	height: 8px;
	border: none;
	border-radius: 6px;
}

.pic {
    position: relative;
    top:10px;
    left:200px;
}


.rovio:hover {
    display:block; /*This Cover Full TD */
    background:url(Files/rovio.png) center top no-repeat; /*This Will Set the Link background */
    /*background-image: url(Files/rovio.png);*/
    height: 483px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    width: 66%;
}

h1 {
	text-align: center;
    letter-spacing: 6px;
    font-size: 1.6em;
    color: #be7429;
    font-weight: bold;
}

h2 {
    text-align: center;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: bold;
}

table {
    padding: 0px;
    border-spacing: 10px;
    background-color: #eff0ef;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
tbody {
    vertical-align: top;
}
td {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    background: #fefef0;
    -moz-box-shadow:    1px 1px 2px 0px #ccc;
    -webkit-box-shadow: 1px 1px 2px 0px #ccc;
    box-shadow:         1px 1px 5px 0px #ccc;
}

img {
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow:    1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow:         1px 1px 2px 1px #ccc;
}

iframe {
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow:    1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow:         1px 1px 2px 1px #ccc;
}

a {
    color: #be7429;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


code {
    font-family: monospace;
    color: #666666;
}

smallNote {
    font-size: 0.9em;
    font-family: sans-serif;
}

input:focus {
    background-color: #fbf5c0;
}